body{
    background-color: lightskyblue;
    background-image: url(chuttersnap--gS54SWrHMg-unsplash.jpg);
    background-size: cover;
    background-color: black;
    margin-top: 30px;
}

.karachi{
    color: darkblue;
}